body {
  margin: 0px !important;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


.header {
  width: 100%;
  position: fixed;
  background: #f8f8f8;
  border-bottom: 1px solid black;
  background-color: #333;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.nav-list {
  width: 100%;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 12px;

}


.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-size: 10px;
  margin: 30px;
  color: white;
}

.nav-menu li a:hover {
  color: rgb(227, 216, 216);
}

.nav.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}


/* main content css */
#first-content {
  margin-top: 30px;
}

section .main-content {
  width: 100%;
  height: 692px;
}

section .main-content .box {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  position: relative;

}

section .main-content .box .logo-img img {
  width: 50px;
}

section .main-content .box .logo-img {
  display: flex;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

section .main-content .main-img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 692px;
}

.main-text.center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.main-text.center p {
  color: #6e6e73;
  ;
}

.main-text.bottom {
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
}

.main-text.bottom .btn {
  padding: 0 15px;
  color: #06c;
  letter-spacing: inherit
}

/* box 2 section */

.content-wrapper,
.content-wrapper2,
.content-wrapper3 {
  display: flex;
  z-index: -1;

}

.content-wrapper2,
.content-wrapper3 {
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  position: absolute;
  top: -40%;
  color: white;
  margin: 10px 0px;
}

.content-wrapper3 {
  color: black;
}

.content-wrapper2 .main-text.bottom a,
.content-wrapper3 .main-text.bottom a {
  margin: 10px 0px;
}





/* grid view  */

.grid-view {
  width: 100%;
  display: grid;
  width: 100%;
  height: 250px;
  color: white;
  grid-gap: 263px 6px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 1300px;
}

.grid-view .box {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 250px;

}

.grid-view .main-content .row {
  padding: 0px 5px;
  position: relative;
}

.grid-view .box .main-img {
  width: 100%;
  /* Ensure images take the full width of their container */
  margin-top: 10px;
  height: 500px;
}


.grid-view .main-content .row .grid-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  position: relative;
  top: -25%;
  color: black;
}

.grid-view .main-content .row .grid-wrapper .logo-img {
  display: flex;
  width: auto;
  width: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  font-size: 40px;
}

.grid-view .main-content .row .grid-wrapper .main-text.center p {
  color: black;
  font-size: 20px;
}

.grid-view .main-content .row .grid-wrapper .main-text.center {
  width: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-view .main-content .row .grid-wrapper .main-text.main-text.bottom {
  width: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-view .main-content .row .grid-wrapper .color .logo-img .series {
  position: absolute;
  top: 100%;
  left: 30%;
  color: red !important;
  font-size: 10px;
  font-weight: bold;
}

.color {
  color: white;
}

/* second row */
.grid-view .main-content .row2 {
  position: relative;
  width: auto;
  color: black;
}

.grid-view .main-content .row2 .grid-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  position: relative;
}

.grid-view .box .row2 .main-img {
  width: 100%;
  margin-top: 10px;
  height: 500px;

}

.grid-view .main-content .row2 .logo-img2 img {
  width: 42px;
}

.grid-view .box .row2 .grid-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-view .box .row2 .grid-wrapper2 .logo-img2 {
  font-size: 40px;
  width: auto;
  font-weight: 700;
}

.grid-view .box .row2 .grid-wrapper2 .logo-img2 .series {
  font-size: 18px;
  color: orange;
  width: auto;

}

#ultra {
  padding-left: 60px;
}

.grid-view .box .row2 .grid-wrapper2 .main-text.bottom2 {
  width: 222px;
  position: absolute;
  top: 138%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;

}

.main-text.bottom2 .btn {
  padding: 0 15px;
  color: #06c;
  letter-spacing: inherit
}


/* module content */


.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100;
}


.slider-container {
  display: flex;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.vertical-align img {
  width: 100%;
  height: auto;
  /* 이미지의 가로 크기에 따라 높이 자동 조절 */
  margin: 5px;
  /* 이미지 간격을 조절할 수 있는 여유 마진 추가 */
}


/* footer */

.footer .row{
  background-color: rgb(245, 245, 247);
  color: rgb(0 0 0 / 56%);
  
}

.footer .row.first-row {
  padding: 100px;
}

.borderline {
  width: 2000px;
  padding-bottom: 100px;
  border-bottom: 4px solid rgb(0 0 0 / 16%);
}

.footer .row.second-row {
  padding: 0 100px;
}